body{
  background-color: whitesmoke;
}
.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
  width: 220px;
  height: 300px;
  margin:auto;
  margin-top: 10vh;
  box-shadow: 1px 4px 5px darkcyan;
  border-radius: 15px;
}
.circle{
  margin-top: 50px;
  font-size: 30px;
  background-color: rgb(13, 53, 228);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.temperature{
  text-align: center;
  margin-top: 60px;
  color: white;
}
.btn-control{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
button{
  background-color: #333;
  color: white;
  margin-top: 30px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 100%;
  border: 2px solid white;
}
button:hover,
button:visited{
  background-color:grey ;
}
.hot{
  background-color: red; 
}
.cold{
  background-color: rgb(13, 53, 228);
}